.outerSpace {
  width: 800px;
  margin: 0 auto;  
  background-color: white;  
}

.titleZone {
  width: 600px;
  margin: 0 auto;
}

.searchArena {
  width: 600px;
  height: auto;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 15px;
}