.wrapper {
  background-image: url("/retropattern.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  height: 800px;
}

.container {
  width: 800px;
  height: 800px;
  background-color: #F2CC33;
  margin: 0 auto;
}

.inner {
  padding: 0 100px;
}


/*
 * Helper classes
 */
.center {
  text-align: center;
}
