<template name="basicForm">
<form class="form-horizontal">
	<fieldset>

	  <div class="control-group">
        <label class="control-label">Any dietary restrictions?</label>
        	<div class="controls">
    				<label class="checkbox">
      				<input id='veganDiet' value="Vegan" type="checkbox">Vegan
      			</label>
			      <label class="checkbox">
			        <input id='vegetarianDiet' value="Vegetarian" type="checkbox">Vegetarian
			      </label>
			      <label class="checkbox">
			        <input id='celiacDiet' value="Celiac" type="checkbox">Celiac
			      </label>
			      <label class="checkbox">
			        <input id='lactoseDiet' value="Lactose" type="checkbox">Lactose Intolerant
			      </label>
					</div>
		</div>

		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls">
				<button class="btn btn-success" id="submit">Submit</button>
			</div>
		</div>

		</fieldset>
	</form>
</template>
