<!-- TODO: Break this out into a separate template? -->
<template name="index">
	<div class='inner'>
		<div class='formFields'>
			{{> basicForm}}
		</div>
	</div>
</template>

<!-- <template name="showableRecipe">
  {{#if showRecipe}}
    {{> recipe}}
  {{/if}}
</template> -->

<template name="recipe">
	<div class="recipe">
		<div class="instructions">
		    Recipe for: {{getDate.name}} <br>
		    Ingredients: 
		    {{#each getDate.ingredients}}
			    {{.}} <br> 
			  {{/ each}}
		</div>
	</div>
</template>
