<!-- TODO: Break this out into a separate template? -->
<template name="index">
	<div class='inner'>
		<div class='formFields'>
			{{> basicForm}}
		</div>
	</div>
	{{> loadingModal}}
</template>

<template name="recipe">
	<div class="recipe">
		<div class="instructions">
			Recipe for: 
			{{recipeName}} <br />
			Ingredients: <br />
			{{#each ingredients}}
				{{.}} <br />
			{{/ each}} <br />
			Directions:
			{{#each directions}}
				{{.}}<br />
			{{/ each}}
		</div>
	</div>
</template>

<template name="loadingModal">
	<div id="loadingModal" class="modal hide fade">
	<div class="modal-header">
		<h3>Searching...</h3>
	</div>
	<div class="modal-body">
		<p>Searching for recipes. Please wait...</p>
	</div>
</div>
</template>
