<head>
	<title>meal_balance</title>
</head>

<body>
	<div id='wrap'>
		<div id='main'>
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">dietary</a>
					<ul class="nav pull-right">
						<li>
							<a href='#'>{{loginButtons}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<h1 class='center'>MEALZ</h1>
				{{renderPage}}
			</div>
		</div>
	</div>
	<div id='footer'>
		<p class='center'>Footer we might not even use~</p>
	</div>
</body>
