<head>
	<title>meal_balance</title>
</head>

<body>
	<div id='wrap'>
		<div id='main'>
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/">goodeats</a>
					<ul class="nav pull-right">
						<li>
							<a href='#'>{{loginButtons}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<div class="logo"></div>
				<div class="slogan">No matter who's coming for dinner!</div>
				<div class="woman"></div>
				{{renderPage}}
			</div>
		</div>
	</div>
	<div id='footer'>
		<p class='center'>Dev Week Hackathon 2013 Project</p>
	</div>
	<link href='http://fonts.googleapis.com/css?family=Galindo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic' rel='stylesheet' type='text/css'>
</body>
